
.materiales{
    padding: 2px;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
* {
    font-family: 'Franklin Gothic Book';
}

body {
    background-image: url('../img/fondo.png');
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
  }

  @font-face {
    font-family: "Franklin Gothic Book";
    src: url('../fonts/Franklin_Gothic_Book_Regular.ttf') format('truetype');
  }

.img{
    width: 100%;
    height: 50px;
}